ul {
	list-style-type: none;
}

#navbar-custom{
  min-height: 50px;
  border-bottom: #000;
	margin-bottom: 20px;

}
.dropdown-li {
    display:inline-block !important;
}
.dropdown-link {
    display:inline-block !important;
    padding-right:4px !important;
}
.dropdown-caret {
    display:inline-block !important;
    padding-left:4px !important;
		margin-left:-8px
}
