ul {
	list-style-type: none;
}
#images{
	height: 42px;
	width: 42px;
}
.glyphicon.glyphicon-envelope{
	font-size: 42px;
	text-align: bottom;
}

.listing li{
	display: inline;
	margin-right: 15px;
	margin-left: 15px;
}

@media (min-width: 768px){}
.intro{
	height: 100%;
	padding: 20px;
	}
}
.intro{
	display: table;
	width: 100%;
}

.intro .intro-body{
	vertical-align:middle;
}
