body{
  background: url("../img/grass-801753_1280.jpg") no-repeat center;
  background-size: cover ;
  background-attachment: fixed;
}

object{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  width: 100%;
  height: 1000px;
}

#resume-container{
	width: 70%;
}